<div class="card-header border-0">
    <div class="row align-items-center">
        <div class="col-12">
            <h3 class="mb-0 text-center text-dark">Add Text</h3>
        </div>
    </div>

    <div class="pl-lg-4 my-4">
        <form [formGroup]="addTextForm" class="needs-validation">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <input id="textField" type="text" placeholder="Text" class="form-control"
                            [ngClass]="{'is-invalid': f.textFormControl.invalid && f.textFormControl.touched && f.textFormControl.errors, 'is-valid' : (f.textFormControl.touched && !f.textFormControl.errors)}"
                            formControlName="textFormControl" />
                        <div *ngIf="f.textFormControl.invalid && f.textFormControl.touched && f.textFormControl.errors?.required"
                            class="invalid-feedback">
                            Please enter text.
                        </div>
                        <div *ngIf="f.textFormControl.invalid && f.textFormControl.touched && f.textFormControl.errors?.maxlength"
                            class="invalid-feedback">
                            Text can be max 140 character long.
                        </div>
                        <div *ngIf="f.textFormControl.invalid && f.textFormControl.touched && f.textFormControl.errors?.invalidText"
                            class="invalid-feedback">
                            HTML tags are not allowed.
                        </div>
                        <button type="submit" class="btn btn-primary mt-4" (click)="addText()"
                            [disabled]="!addTextForm.valid">
                            ADD
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>