<div class="my-8 card-header border-0">
    <div class="bg-light text-dark text-center"> <h3>Text List</h3></div>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th scope="col">USER TEXT</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody class="table-light">
        <tr
          style="cursor: pointer"
          *ngFor="let text of textList | slice: 0:showLength; let i = index"
        >
          <td>
            <span>
              {{ text?.text }}
            </span>
          </td>
          <td>
            <span (click)="openConfirmPopup(confirmPopup, i)">
              <i
                class="fas fa-trash text-danger"
                style="font-size: 30px"
              ></i>
            </span>
          </td>
        </tr>          

        <tr *ngIf="textList.length > 5">
          <td
            colspan="2"
            class="text-primary text-right"
            (click)="showAll()"
          >
            {{ showLength > 5 ? "Show Less" : "Show More" }}
          </td>
        </tr>

        <tr style="cursor: pointer" *ngIf="textList.length > 0">
            <td colspan="2" class="text-end">
              <span> Total {{ textList.length }} record(s) found. </span>
            </td>
        </tr>
        <tr style="cursor: pointer" *ngIf="textList.length == 0">
            <td colspan="2" class="text-start">
              <span> No Text(s) Available. </span>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #confirmPopup>
    <div class="modal-body">
      <div class="themeModalIcon" style="background: darkred">
        <i class="fas fa-trash"></i>
      </div>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        (click)="modalRef.hide()"
      >
        ×
      </button>
  
      <h4 class="modal-title">
        {{getDeleteConfirmMessage()}}
      </h4>
  
      <div class="themeModal-btnGroup">
        <button type="button" class="cancel-btn" (click)="modalRef.hide()">
          No
        </button>
        <button type="button" class="btn btn-success" (click)="deleteText(textList[currentIndex])">
          Yes
        </button>
      </div>
    </div>
  </ng-template>