
.help-inline {
    font-size: 13px;
    background-color: #ec4d4df8;
    color: #fff !important;
    padding: 3px 10px 3px 30px;
    font-weight: 500;
    position: relative;
}

/* For Modal */

.themeModal .modal-body {
    padding: 20px;
    padding-top: 45px;
}

.themeModal .themeModalIcon {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 80px;
    height: 80px;
    background: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 35px;
    top: -40px;
    color: #fff;
    box-shadow: inset 0 -9px 14px -8px rgb(0 0 0 / 20%);
}

.themeModal button.close {
    box-shadow: none;
    opacity: 1;
    position: absolute;
    right: 10px;
    padding: 0;
    font-size: 35px;
    font-weight: 300;
    line-height: 25px;
    top: 10px;
    color: #656082;
    text-shadow: none;
    border: none;
    background-color: transparent;
}

.themeModal .modal-title {
    font-size: 20px;
    max-width: 300px;
    text-align: center;
    margin: 25px auto;
    color: #000;
}

.themeModal .themeModal-btnGroup {
    text-align: right;
}

.themeModal button.cancel-btn {
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 17px;
    padding: 0;
    margin-right: 15px;
    color: #656082;
    font-weight: 500;
}

.themeModal .modal-content {
    box-shadow: 0 1px 23px rgb(0 0 0 / 2%);
    border-radius: 10px;
}

.themeModal .themeModalIcon svg {
    width: 42px;
    height: 42px;
}

.custom-round {
    background: white;
    border: 1px solid black;
    color: black;
    position: absolute;
    top: -20px;
    right: -13px;
}